<!DOCTYPE html>
<meta charset=utf-8>
<title>Radically Open Security</title>
<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel=stylesheet href=css/ROS.css>

<header>
	
	<p><a href=index.htm title=Home>Radically Open Security</a>
	
	<ul>
		<li><a href=index.htm>Home</a>
		<li><a href=business-model.htm>Non-profit?</a>
		<li><a href=principles.htm>Core principles</a>
		<li><a href=services.htm>Services</a>
		<li class=current><a href=team.htm>Team</a>
		<li><a href=http://blog.radicallyopensecurity.com/>Blog</a>
		<li><a href=portfolio.htm>Portfolio</a>
		<!--<li><a href=careers.htm>Careers</a>-->
		<li><a href=contact.htm>Contact us</a>
	</ul>
	
</header>


{{ content }}
<footer>
	
	<p><a href=mailto:info@radicallyopensecurity.com>info@radicallyopensecurity.com</a>
	
</footer>
